$primary-grey: var(--primary-grey);
$primary-black: var(--primary-black);
$primary-hover: var(--primary-hover);
$primary: var(--primary);
$rgba-primary-16: var(--rgba-primary-16);
$primary-white: var(--primary-white);
$w100: var(--w100);

.btn {
  display: inline-block;
  font-weight: 400 !important;
  line-height: 1.5;
  color: $primary-grey;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  font-size: 1rem;
  border-radius: 0.75rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-check:focus+.btn-primary,
.btn-primary:focus {
  color: $primary-black;
  border-color: $primary-hover;
  background-color: $primary-hover;
  box-shadow: 0 0 0 0.25rem $rgba-primary-16;
}

.btn-primary {
  border-color: $primary;
  background-color: $primary;

  &:active,
  &:focus,
  &:hover {
    border-color: $primary-hover;
    background-color: $primary-hover;
  }
}

.btn.btn-primary {
  color: $primary-white;
}

.btn-block {
  display: block;
  width: $w100;
}

.p-btn {
  padding: 10px 30px !important;
}

.btn-outline-primary {
  color: var(--primary);
  border-color: var(--primary);
}

.btn-outline-primary:hover {
  border-color: $primary-hover;
  background-color: $primary-hover;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active {
  outline: 0 !important;
}
.btn.btn-secondary,
.btn.btn-primary,
.btn.btn-danger{
  color: var(--primary-white) !important;
} 

.btn:hover {
  color: $primary-grey;
}
.btn-xs {
  font-size: 0.75rem;
  padding: 0.438rem 1rem;
  font-weight: 600;
}
@media only screen and (max-width: 1400px) {
  .btn {
    padding: 0.625rem 1rem;
  }
}
.btn-icon-end {
  border-left: 0.0625rem solid var(--primary-white);
  display: inline-block;
  margin: -0.8rem 0 -0.8rem 1rem;
  padding: 0.4375rem 0 0.4375rem 1rem;
  margin: -1rem -0.25rem -1rem 1rem;
  padding: 1rem 0 1rem 1.25rem;
}
.auth-form .btn {
    height: 3.125rem;
    font-weight: 700 ;
}
.btn-block {
  display: block !important;
  width: 100% !important;
}
.btn {
  padding: 0.938rem 1.5rem;
  border-radius: 1.125rem;
  font-weight: 400;
  font-size: 1rem ;
}
.btn-sm, .btn-group-sm >  {
  font-size: 0.813rem;
  padding: 0.625rem 1rem;
}
@media screen and (min-width: 991px) {
  .btn-m{
      margin-top: 1rem !important;
  }
    }
