
.h1-error {
	font-size: 3.375rem !important;
}
.margin-top {
	margin-top: 17rem;
}
.font-size {
	font-size: 1.5rem !important;
}
@media only screen and (max-width: 575px) {
	.margin-top {
		margin-top: 9rem !important;
	}
}
