[data-sidebar-style="full"][data-layout="vertical"] {
  .menu-toggle {
    .nav-header {
      width: 6.5rem !important;
      z-index: 999;
    }
  }
}
[data-sidebar-position="fixed"],
[data-header-position="fixed"],
[data-layout="vertical"],
[data-sidebar-position="fixed"] {
  .nav-header {
    position: fixed;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
.nav-header {
  display: inline-block;
  text-align: left;
  box-shadow: 0rem 0.9375rem 1.875rem 0rem rgba(0, 0, 0, 0.06);
  transition: all 0.2s ease;
  z-index: 5;
  height: 5.5rem ;
  width: 17rem;
  .brand-logo {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    display: flex;
    height: var(--h100);
    width: var(--w100);
    justify-content: flex-start;
    align-items: center;
    font-size: 1.125rem;
    color: var(--primary-white);
    text-decoration: none;
    font-weight: 700;
  }
}
.nav-control {
  cursor: pointer;
  position: absolute;
  text-align: center;
  top: 55%;
  transform: translateY(-50%);
  z-index: 9999;
  font-size: 1.4rem;
  padding: 0.125rem 0.5rem 0;
  border-radius: 0.125rem;
  right: -3rem;
}

.hamburger {
  display: inline-block;
  position: relative;
  top: 0rem;
  transition: all 0.3s ease-in-out 0s;
  width: 1.625rem;
  z-index: 999;
  .line {
    background: var(--primary-black) !important;
    display: block;
    height: 0.1875rem;
    border-radius: 0.1875rem;
    margin-top: 0.375rem;
    margin-bottom: 0.375rem;
    margin-right: auto;
    transition: all 0.3s ease-in-out;
  }
  .line:nth-child(3) {
    width: 0.94rem;
    height: 0.1875rem;

  }
  &.is-active {
    .line:nth-child(1) {
      background: var(--primary) !important;

      transform: translateY(4px) translateX(12px) rotate(45deg);
      width: 0.625rem;
      height: 0.125rem;
    }
    .line:nth-child(2) {
      background: var(--primary) !important;

      transform: translateX(0px);
      width: 1.375rem;
      height: 0.125rem;
    }
    .line:nth-child(3) {
      background: var(--primary) !important;
      transform: translateY(-4px) translateX(12px) rotate(-45deg);
      width: 0.625rem;
      height: 0.125rem;

    }
  }
  
}

[data-sidebar-style="full"][data-layout="vertical"] {
  .menu-toggle {
    .nav-header {
      .nav-control {
        .hamburger {
          .line {
            background-color: var(--primary);
          }
        }
      }
    }
  }
}

[data-header-position="fixed"] {
  .header {
    position: fixed;
    top: 0;
    width: var(--w100);
  }
}
.header {
  padding: 0rem;
  background: var(--headerbg);
  z-index: 3;
  transition: all 0.2s ease;
  border-bottom: 0.0625rem solid var(--primary-skin);
  .header-content {
    padding-right: 1.875rem;
    align-items: center;
    height: var(--h100);
    display: flex;
  }
  .navbar {
    padding: 0;
    height: var(--h100);
    width: var(--w100);

    .navbar-collapse {
      height: var(--h100);
      width: var(--w100);
    }
  }
}

[data-sidebar-style="full"] {
  .menu-toggle {
    .header {
      .header-content {
        padding-left: 5rem;
      }
    }
  }
}
.header-left {
  height: var(--h100);
  display: flex;
  align-items: center;
}
.navbar-expand {
  flex-wrap: nowrap;
  justify-content: flex-start;
  .header-profile {
    position: relative;
    margin-left: 1.875rem;
    padding-left: 1.875rem;
  }
  .navbar-nav {
    flex-direction: row;
  }
  .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
  .nav-link {
    position: relative;
    background: var(--primary-white);
    border-radius: 3rem;
    padding: 0.1875rem;
  }
}
.header-right {
  height: var(--h100);
  .nav-item {
    height: var(--h100);
    display: flex;
    align-items: center;
    .nav-link {
      color: var(--navlink);
      font-size: 1.125rem;
      &.header-profile {
        .nav-link {
          img {
            border-radius: 4.25rem;
          }
        }
      }
    }
  }
}
.header {
  height: 5.5rem;
}

.navbar-collapse {
  flex-grow: 1;
  align-items: center;
}
.navbar-nav {
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
ul {
  padding: 0;
  margin: 0;
}
.nav-link {
  display: block;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}

.navbar-expand {
  .header-profile {
    .nav-link {
      &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        margin: -0.1875rem;
        border-radius: inherit;
        background: linear-gradient(
          to right,
          var(--primary-blue),
          var(--primary-blue)
        );
      }
    }
  }
}

img {
  vertical-align: middle;
}
svg {
  vertical-align: middle;
}
.navbar-expand {
  .header-profile {
    &:after {
      // top: 0.625rem;
      content: "";
      height: 3.5rem;
      width: 0.0625rem;
      position: absolute;
      left: 0;
      background: var(--header-bg);
    }
  }
}

[data-sidebar-position="fixed"][data-layout="vertical"] {
  .nav-header {
    position: fixed;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: var(--primary-white);
  }
}

[data-sidebar-style="overlay"][data-layout="vertical"] {
  .nav-header {
    border-radius: 0;
  }
}
@media only screen and (max-width: 63.9375rem) {
  .nav-header {
    width: 5rem;
  }
}

@media only screen and (max-width: 1199px) {
  .nav-header {
    height: 5rem !important;
  }
}
@media only screen and (max-width: 767px) {
  .nav-header {
    top: 0;
    background: transparent;
  }
}
@media only screen and (max-width: 767px) {
  .nav-header {
    .brand-logo {
      padding-left: 0;
      padding-right: 0;
      justify-content: center;
    }
  }
}

@media only screen and (max-width: 575px) {
  .nav-control {
    right: -3rem;
  }
}

@media only screen and (max-width: 1400px){
[data-sidebar-style="full"] .header, [data-sidebar-style="overlay"] .header {
  width: var(--w100);
  padding-left: 18.2rem;
}}

[data-sidebar-style="full"] {
  .header {
    width: var(--w100);
    padding-left: 5rem;
  }
}
[data-sidebar-style="overlay"] {
  .header {
    width: var(--w100);
    padding-left: 5rem;
  }
}

@media only screen and (max-width: 767px) {
  .header {
    padding-top: 0;
  }
}
@media only screen and (max-width: 1199px) {
  .header {
    height: 5rem;
  }
}
@media only screen and (max-width: 47.9375rem) {
  .header {
    .header-content {
      padding-left: 3.75rem;
      padding-right: 0.938rem;
    }
  }
}

.header {
  .header-content {
    height: var(--h100);
    align-items: center;
    display: flex;
  }
}
.navbar {
  position: relative;
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 991px) {
  body {
    font-size: 0.875rem;
  }
}

.navbar-expand {
  .header-profile {
    .nav-link {
      position: relative;
      background: var(--primary-white);
      border-radius: 3rem;
      padding: 0.1875rem;
    }
  }
}
[role="button"] {
  cursor: pointer;
}


.navbar-expand {
  .header-profile {
    .nav-link {
      img {
        height: 2.1875rem;
        width: 2.1875rem;
      }
    }
  }
}
@media only screen and (min-width: 1400px) {

.navbar-expand {
  .header-profile {
    .nav-link {
      img {
        height: 3.5rem;
        width: 3.5rem;
        border-radius: 4.25rem;
      }
    }
  }
}}

@media only screen and (min-width: 48rem) {
  [data-sidebar-style="mini"] {
    .nav-header {
      .nav-control {
        z-index: -1;
        .hamburger {
          left: 6.25rem !important;
        }
      }
      .hamburger {
        display: none;
      }
      width: 6.25rem;
    }
  }
}
[data-sidebar-style="mini"] {
  .nav-control {
    display: none;
  }
}
[data-layout="horizontal"] {
  .nav-control {
    display: none;
  }
}

@media only screen and (max-width: 63.9375rem) {
  [data-sidebar-style="mini"] {
    .nav-header {
      height: 5.5rem;
    }
  }
}

[data-sidebar-style="mini"] {
  .nav-header {
    height: 6.5rem;
  }
}

[data-sidebar-style="compact"] {
  .nav-header {
    .brand-logo {
      padding-left: 0;
      padding-right: 0;
      justify-content: center;
    }
  }
}
[data-sidebar-style="mini"] {
  .nav-header {
    .brand-logo {
      padding-left: 0;
      padding-right: 0;
      justify-content: center;
    }
  }
}
@media only screen and (min-width: 48rem) {
  [data-sidebar-style="mini"][data-layout="vertical"] {
    .deznav {
      .metismenu {
        > li.mm-active {
          > a {
            background: var(--primary);
            color: var(--primary-white);
            border-radius: 1.75rem;
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 48rem) {
  [data-sidebar-style="mini"] {
    .deznav {
      .metismenu {
        > li {
          > a {
            padding: 1.2rem 0rem;
            text-align: center;
            line-height: 1;
            transition: all 0.5s;
            -moz-transition: all 0.5s;
            -webkit-transition: all 0.5s;
            -ms-transition: all 0.5s;
            -o-transition: all 0.5s;
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 48rem) {
  [data-sidebar-style="mini"] {
    .deznav {
      .metismenu {
        li {
          a {
            padding: 0.813rem 0.875rem;
          }
        }
      }
    }
  }
}
.deznav {
  .metismenu {
    > li.mm-active {
      > a {
        color: var(--primary) !important;
        box-shadow: none;
        background: var(--rgba-primary-1);
        padding: 10px 20px !important;
      }
    }
    > li {
      &:hover {
        > a {
          color: var(--primary) !important;
          box-shadow: none;
          background: var(--rgba-primary-1);
          padding: 10px 20px !important;
        }
      }
    }
  }
}
@media only screen and (min-width: 48rem) {
  [data-sidebar-style="mini"][data-layout="vertical"] {
    .deznav {
      .metismenu {
        > li.mm-active {
          > a {
            background: var(--primary);
            color: var(--primary-white);
            border-radius: 1.75rem;
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 48rem) {
  [data-sidebar-style="mini"] {
    .deznav {
      .nav-text {
        display: none;
      }
    }
  }
}
@media only screen and (min-width: 48rem) {
  [data-sidebar-style="mini"][data-layout="vertical"] {
    .deznav {
      .metismenu {
        > li.mm-active {
          > a {
            background: var(--primary);
            color: var(--primary-white);
            border-radius: 1.75rem;
          }
        }
      }
    }
  }
  [data-sidebar-style="mini"] {
    .nav-header {
      width: 6.25rem;
    }
  }
}
[data-sidebar-position="fixed"][data-layout="vertical"] {
  .nav-header {
    position: fixed;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    z-index: 9999;
  }
}
[data-sidebar-style="compact"] {
  .nav-header {
    .brand-logo {
      padding-left: 0;
      padding-right: 0;
      justify-content: center;
    }
  }
}
[data-sidebar-style="mini"] {
  .nav-header {
    .brand-logo {
      padding-left: 0;
      padding-right: 0;
      justify-content: center;
    }
  }
}
@media only screen and (max-width: 63.9375rem) {
  [data-sidebar-style="mini"] {
    .nav-header {
      height: 5.5rem;
    }
  }
}
[data-header-position="fixed"] .header {
  position: fixed;
  top: 0;
  width: 100%;
}
@media only screen and (min-width: 1400px) {
.header {
  height: 7.5rem;
  z-index: 1;
  position: relative;
  padding: 0rem;
  background: var(--headerbg);
  z-index: 3;
  padding-left: 20.563rem;
  padding-top: 0rem;
  transition: all .2s ease;
  border-bottom: 0.0625rem solid #EEEEEE;
}
.nav-control {
    cursor: pointer;
    position: absolute;
    right: -5rem;
    text-align: center;
    top: 45%;
    transform: translateY(-50%);
    z-index: 9999;
    font-size: 1.4rem;
    padding: 0.125rem 0.5rem 0;
    border-radius: 0.125rem;
}
.hamburger {
  display: inline-block;
  position: relative;
  // top: 1rem;
  transition: all 0.3s ease-in-out 0s;
  width: 1.625rem;
  z-index: 999;
}}
.hamburger:hover{
  .line:nth-child(3){
    width: 0.625rem;
  }
}
[data-sidebar-style="full"][data-layout="vertical"] .menu-toggle .nav-header .brand-logo {
  padding-left: 0;
  padding-right: 0;
  justify-content: center;
}
@media only screen and (max-width: 1400px) {
  .nav-header {
    height: 5.5rem  ;
    width: 17rem;
  }
  
    } 
    @media only screen and (min-width: 1400px) {	
      .nav-header {
        height: 7.5rem;
        width: 20.5rem;      }
     
      }
      @media only screen and (max-width: 1400px) {	

        .nav-header .brand-logo {
          padding-left: 1.25rem;
          padding-right: 1.25rem;
          } 
      }
      @media only screen and (max-width: 767px){
.nav-header {
    width: 5rem;
}

.nav-header .brand-logo {
    padding-left: 0px;
    padding-right: 0px;
}}
