$color_1: var(--primary-grey);
$color_2: var(--bs-gray);
$color_3: var(--bs-table-dark-bg-2);
$background-color_1: var(--primary-white);
$background-color_2: var(--primary-input-bg);
$background-color_3: var(--bs-light-bg);
$background-color_4: transparent;
$border-color_1: var(--bs-cream);
$border-color_2: inherit;
$border-color_3: var(--primary);
$border-color_4: var(--rgba-primary-2);

.form-control {
	display: block;
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 1.5;
	appearance: none;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	background: var(--primary-white);
	border: 3px solid var(--primary-greyish);
	padding: 0.3125rem 1.25rem;
	color: $color_3;
	border-radius: 1rem;

	&:focus {
		color: $color_1;
		background-color: $background-color_1;
		box-shadow: none;
		border-color: $border-color_3;
	}

	&::placeholder {
		color: $color_2;
		opacity: 1;
	}
}

@media only screen and (max-width: 1400px) {
	.form-control {
		height: 2.5rem;
		// height: 3rem;
		width: var(--w100);
	}
}

@media only screen and (min-width: 1400px) {
	.form-control {
		height: 2.5rem;
		width: var(--w100);
	}
}

@media only screen and (min-width: 1400px){
	.form-control {
	//    height: 3rem; 
	 width: var(--w100); 
	}
	}