
.error-page {
	.error-text {
		font-size: 3.375rem !important;
		line-height: 1 !important;
		line-height: 1;
		margin-bottom: 7rem !important;
	}
}
@media only screen and (max-width: 575px) {
	.error-page {
		.error-text {
			font-size: 20px !important;
		}
	}
}
