$color_1: var(--primary);
$color_2: var(--deznav-menu);
$color_3: var(--bs-primary);
$font-family_1: font-family 'Inter', sans-serif;
$background-color_1: var(--sidebar-bg);

[data-sidebar-position="fixed"][data-layout="vertical"] {
	.deznav {
		position: fixed;

		.deznav-scroll {
			border-top-left-radius: 0rem;
			border-top-right-radius: 0rem;
		}
	}

	.menu-toggle .deznav {
		position: fixed;
	}

	[data-header-position="fixed"][data-sidebar-position="fixed"] {
		.deznav {
			position: fixed;
		}
	}

	[data-layout="vertical"] {
		.deznav {
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}
	}

	[data-header-position="fixed"] {
		.deznav {
			margin-top: 0;
		}
	}

	.deznav {
		width: 17rem;
		padding-bottom: 0;
		position: fixed;
		padding-top: 0;
		z-index: 6;
		background-color: $background-color_1;
		transition: all .2s ease;
		box-shadow: 0rem 1.25rem 1.875rem 0rem rgba(0, 0, 0, 0.02);
		padding-bottom: 0;
		padding-top: 0;
		z-index: 99999;
		background-color: $background-color_1;

		.deznav-scroll {
			position: relative;
			height: var(--h100);
		}

		.metismenu {
			display: flex;
			flex-direction: column;
			padding-top: 0.2375rem;

			li {
				position: relative;
			}

			>li {
				display: flex;
				flex-direction: column;

				&:hover {
					>a {
						color: $color_1 !important;
						box-shadow: none;
						background: var(--rgba-primary-1);
						padding: 9px 20px 11px !important;
					}
				}

				>a {
					font-weight: 400;
					display: inline-block;
					font-size: 1rem;
					color: $color_2;
				}
			}

			a {
				position: relative;
				outline-width: 0;
				text-decoration: none;
			}
		}

		ul {
			padding: 0;
			margin: 0;
			list-style: none;
		}
	}

	[data-sidebar-style="full"][data-layout="vertical"] {
		.deznav {
			.metismenu {
				>li {
					padding: 0 0.9375rem;
					padding: 6px 0.7rem;

					>a {
						font-size: 1.026rem;
						padding: 0rem;
						border-radius: 2rem;
						padding-left: 0.625rem;
						font-family: $font-family_1;
						-webkit-transition: all 0.5s;
						-ms-transition: all 0.5s;
						transition: all 0.5s;
					}
				}
			}
		}
	}

	a {
		color: $color_3;
		text-decoration: underline;
	}

	.ps-1 {
		padding-left: 0.25rem !important;
		font-size: 1rem;
	}

	.w-20px {
		width: 16px !important;
	}

	a.ai-icon {
		width: var(--w100);
	}
}

[data-sidebar-style="full"][data-layout="vertical"] {
	.menu-toggle .deznav {
		width: 6.5rem;
		overflow: visible;
	}
}

[data-sidebar-position="fixed"][data-layout="vertical"] {
	.deznav {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}
}

[data-header-position="fixed"] {
	.deznav {
		margin-top: 0;
	}
}

.deznav {
	top: 5.5rem;
	height: calc(100% - 75px);
}

[data-sidebar-style="full"][data-layout="vertical"] {
	.menu-toggle .deznav {
		.nav-text {
			display: none;
		}
	}
}

* {
	outline: none;
	padding: 0;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}


[data-sidebar-style="full"][data-layout="vertical"] {
	.menu-toggle {
		.deznav {
			.metismenu {
				>li {
					>a {
						text-align: center;
						border-radius: 3rem;
						padding: 0;
						background: transparent !important;
						margin: 0.125rem 0 !important;
					}
				}
			}

			.deznav {
				.metismenu {
					>li {
						>a {
							font-size: 1.125rem;
							padding: 0.5rem 2.1875rem;
							border-radius: 2rem;
							padding-left: 0.625rem;
							transition: all 0.5s;
						}
					}
				}
			}
		}
	}
}

.deznav {
	.metismenu {
		>li {
			>a {
				font-weight: 400;
				display: inline-block;
			}
		}

		a {
			position: relative;
			outline-width: 0;
			display: block;
			text-decoration: none;
			padding: 0.625rem 1.875rem;
		}
	}
}


[data-sidebar-position="fixed"][data-layout="vertical"] {
	.menu-toggle {
		.deznav {
			position: fixed;
		}
	}
}

[data-sidebar-style="overlay"] {
	.menu-toggle {
		.deznav {
			left: 0;
		}
	}
}


@media only screen and (max-width: 767px) {
	[data-sidebar-style="overlay"][data-layout="vertical"] {
		.deznav {
			border-radius: 0 0 0 0 !important;
		}
	}
}


[data-sidebar-style="overlay"] {
	.deznav {
		left: -100%;
		-ms-transition: all 0.5s;
		transition: all 0.5s;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	}
}

[data-header-position="fixed"] {
	.deznav {
		margin-top: 0;
	}
}



@media (max-width: 47.9375rem) {
	.deznav {
		top: 5rem;
	}
}

.deznav {
	width: 17rem;
	padding-bottom: 0;
	padding-top: 0;
	z-index: 6;
	background-color: var(--primary-white) !important;

	.metismenu {
		>li {
			display: flex;
			flex-direction: column;

			&:hover {
				>a {
					color: var(--primary) !important;
					box-shadow: none;
					background: var(--primary-alice) !important;
					padding: 10px 20px !important;
				}
			}
		}

		>li.mm-active {
			>a {
				color: var(--primary) !important;
				box-shadow: none;
				background: var(--primary-alice) !important;
				padding: 10px 14px !important;
			}
		}

		display: flex;
		flex-direction: column;
		padding-top: 0.9375rem;
	}
}

.ps {
	overflow-y:scroll;
	scrollbar-width: none;
	overflow-anchor: none;
	-ms-overflow-style: none;
	touch-action: auto;
	-ms-touch-action: auto;
}


li {
	list-style: none;
}

[data-sidebar-style="overlay"] {
	.deznav {
		.metismenu {
			>li {
				>a {
					color: var(--deznav-li);
					border-radius: 1rem;
					transition: all 0.5s;
				}
			}
		}
	}
}

.ps__rail-x {
	display: none;
	opacity: 0;
	height: 15px;
	position: absolute;
}

.ps__thumb-x {
	background-color: var(--psthumb-x);
	border-radius: 6px;
	-webkit-transition: background-color .2s linear, height .2s ease-in-out;
	height: 6px;
	bottom: 2px;
	position: absolute;
}

.ps__rail-y {
	display: none;
	opacity: 0;
	-webkit-transition: background-color .2s linear, opacity .2s linear;
	width: 15px;
	position: absolute;
}

.ps__thumb-y {
	background-color: var(--psthumb-y);
	width: 0.25rem;
	border-radius: 6px;
	-webkit-transition: background-color .2s linear, width .2s ease-in-out;
	right: 2px;
	position: absolute;
}

.menu-toggle .deznav .metismenu li a {
	background: transparent;
	margin: 0.125rem 0;
}

[data-sidebar-style="full"][data-layout="vertical"] {
	.deznav {
		.metismenu {
			>li {
				padding: 0 0.9375rem;

				>a {
					font-size: 1rem;
					padding: 0.4375rem 0.625rem;
					border-radius: 2rem;
					padding: 0.5rem 2.1875rem;
					padding-left: 0.625rem;
					transition: all 0.5s;
				}
			}
		}
	}
}

[data-sidebar-style=full][data-layout=vertical] {
	.deznav {
		.metismenu {
			>li {
				padding: 15px 0.7rem;

				>a {
					border-radius: 2rem;
					padding: 0.1rem;
					transition: all 0.5s;
				}
			}
		}
	}
}

@media only screen and (max-width: 1199px) {
	.deznav {
		height: calc(100% - 70px);
	}
}

@media only screen and (max-width: 575px) {
	[data-sidebar-style="overlay"] {
		.deznav {
			.metismenu {
				>li {
					padding: 0px 15px;
				}
			}
		}
	}
}

@media only screen and (max-width: 767px) {
	[data-sidebar-style="overlay"] {
		.deznav {
			.metismenu {
				>li {
					>a {
						font-size: 14px;
						padding: 12px 10px;
					}
				}
			}
		}
	}
}

@media only screen and (min-width: 48rem) {
	[data-sidebar-style="mini"][data-layout="vertical"] {
		.deznav {
			position: absolute !important;
			width: 6.25rem;
			// margin-top: -10px;
		}
	}

	[data-sidebar-style="mini"] {
		.deznav {
			width: 6.25rem;
			overflow: visible;
			position: absolute;
			z-index: 2;
			top: 5rem !important;
		}
	}
}

@media only screen and (min-width: 48rem) and (max-width: 63.9375rem) {
	[data-sidebar-style="mini"] {
		.deznav {
			top: 5.5rem;
		}
	}
}

@media only screen and (max-width: 1400px) {

	[data-sidebar-style=full][data-layout=vertical] .deznav .metismenu>li {
		padding: 7px 9px 2px 5px;
		margin-left: 15px;
	}

	[data-sidebar-position=fixed][data-layout=vertical] .deznav {
		padding-top: 0;
		// overflow-y: scroll;
	}
}

@media only screen and (min-width: 1400px) {
	[data-sidebar-position=fixed][data-layout=vertical] .ps-1 {
		font-size: 1.125rem;
	}

	[data-sidebar-position=fixed][data-layout=vertical] .deznav {
		margin-top: 2rem;
		width: 20.5rem;
		padding: 12px 1.25rem;
		// overflow-y: scroll;
	}

	.deznav {
		width: 20.5rem;
		padding-bottom: 0;
		position: fixed;
		padding-top: 0;
		z-index: 6;
		background-color: $background-color_1;
		transition: all .2s ease;
		box-shadow: 0rem 1.25rem 1.875rem 0rem rgba(0, 0, 0, 0.02);
		padding-bottom: 0;
		padding-top: 0;
		z-index: 6;
		background-color: $background-color_1;
	}
}






