.footer1 {
  background: #212121;
  color: white;
  padding: 10px;
}

.contact-area {
  border-bottom: 1px solid #353C46;
}

.contact-content p {
  font-size: 12px;
  margin: 30px 0 60px;
  position: relative;
}

.contact-content p::after {
  background: #353C46;
  bottom: -30px;
  content: "";
  height: 1px;
  left: 50%;
  position: absolute;
  transform: translate(-50%);
  width: 80%;
}


.contact-content h6 {
  color: #8b9199;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 10px;
}

.contact-social {
  margin-top: 30px;
}

.contact-social>ul {
  display: inline-flex;
}

.contact-social ul li a {
  border: 1px solid #8b9199;
  color: #8b9199;
  display: inline-block;
  height: 40px;
  margin: 0 10px;
  padding-top: 7px;
  transition: all 0.4s ease 0s;
  width: 40px;
}

.clr-white {
  color: white !important;
}