$w100: var(--w100);

@media (min-width: 1440px) {
  .col-xxl-12 {
    flex: 0 0 auto;
    width: $w100;
  }
}

@media (min-width: 1200px) {
  .col-xl-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-xl-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-xl-12 {
    flex: 0 0 auto;
    width: $w100;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .col-xxl-12 {
    flex: 0 0 $w100;
    max-width: $w100;
  }
}

@media (min-width: 992px) {
  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-lg-12 {
    flex: 0 0 auto;
    width: $w100;
  }
}

@media (min-width: 576px) {
  .col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.3333333333% !important;
  }

  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-sm-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }

  .col-sm-12 {
    flex: 0 0 auto;
    width: $w100;
  }
}

@media (min-width: 768px) {
  .col-md-6 {
    flex: 0 0 auto;
    width: 45%;
  }
}

@media only screen and (min-width: 992px) {
  .col-lg-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }

  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }

  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
}

@media (min-width: 576px){
  .col-sm-5 {
    flex: 0 0 auto;
    width: 41.6666666667%!important;
  }
}

.col-lg-9 {
  width: 100%;
}

@media (min-width: 691px) {
  .col-lg-9 {
    flex: 0 0 auto;
    width: 75% !important;
  }
}

@media (max-width: 692px) {
  .col-lg-9 {
    flex: 0 0 auto;
    width: 100% !important;
  }
}

@media only screen and (max-width: 991px) {
  .flex-column {
    flex-direction: column !important;
  }

  .w-100-sm {
    display: flex !important;
    width: 100% !important;
    justify-content: left !important;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1600px){
.col-xxl-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
}
}
@media (min-width: 1200px){
  .col-xl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1600px){
  .col-xxl-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
}

@media (min-width: 1200px){
  .col-xl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
}
@media (min-width: 992px){
  .col-lg-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
}

@media (min-width: 992px){
  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
}