:focus-visible {
  outline: unset !important;
}

.flex-wrap {
  flex-wrap: wrap !important;
}
.fa-search {
	font-size: 1.5rem;
	color: var(--primary);
}

.border-danger {
  background: var(--primary-white);
  width: var(--w100);
  border: 3px solid var(--primary-red);
  padding: 0.3125rem 1.25rem;
  color: var(--bs-dark);
  height: 3rem;
  border-radius: 1rem;

  @media only screen and (max-width: 1400px) {
    height: 3rem !important;
  }
}
.border-danger-select {
  font-size: 16px;
  background: var(--primary-white);
  width: var(--w100);
  border: 3px solid var(--primary-red);
  padding: 0.3125rem 1.25rem;
  color: var(--bs-dark);
  height: 3rem;
  border-radius: 1rem;

  @media only screen and (max-width: 1400px) {
    height: 3rem !important;
  }
}

.text-danger {
  color: var(--primary-red) !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: var(--primary-black);
  // font-family: 'Inter', sans-serif;
}

h4,
.h4 {
  font-size: 1.125rem;
}

h5,
.h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.938rem;
}

@media (min-width: 1200px) {
  h3,
  .h3 {
    font-size: 1.5rem;
  }
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 1.8;
}
.align-items-center {
  align-items: center !important;
}
.d-flex {
  display: flex !important;
}
.justify-content-end {
  justify-content: flex-end !important;
}
label {
  margin-bottom: 0.5rem !important;
  font-size: 15px;
  color: var(--primary-black);
  display: inline-block;
}
.customer-search {
  width: 22.5rem;
}
.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: var(--w100);
}

.input-group-text {
  display: flex;
  align-items: center;
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--primary-grey);
  text-align: center;
  white-space: nowrap;
  background-color: var(--primary-input-bg);
  border: 1px solid var(--primary-white-3);
  border-radius: 0.75rem;
}

.customer-search .search-area .input-group-text {
  background: var(--primary-white);
  border: 0.0625rem solid var(--primary-skin);
  border-top-right-radius: 3.125rem;
  border-bottom-right-radius: 3.125rem;
}

.customer-search .search-area .form-control {
  border: 0.0625rem solid var(--primary-skin);
  border-top-left-radius: 3.125rem;
  border-bottom-left-radius: 3.125rem;
  border-right: 0;
}

.customer-search .form-control {
  font-size: 1rem;
}

.input-group>.form-control,
.input-group>.form-select {
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  min-width: 0;
}

.form-select:focus {
  border-color: var(--bs-cream);
  outline: 0;
  box-shadow: 0 0 0 0.25rem var(--bs-dark-brown);
}

.form-select-sm {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  font-size: 0.765625rem;
}

.form-select-lg {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  font-size: 1.09375rem;
}

.input-group> :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
  margin-left: -1px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

// for the delete buttion 
.btn-danger {
  color: var(--primary-black);
  background-color: var(--bs-danger);
  border-color: var(--bs-danger);
}
.btn-success {
  color: #000;
  background-color: #68e365;
  border-color: #68e365;
}
.btn-warning {
  color: #000;
  background-color: #FFA41D;
  border-color: #FFA41D;
}
.btn-danger:hover {
  color: var(--primary-black);
  background-color: var(--bs-danger-red);
  border-color: var(--bs-danger-dark-red);
}

.sharp.btn-xs {
  padding: 0.1875rem;
  width: 3.625rem;
  height: 1.7rem;
  min-width: 1.625rem;
  min-height: 1.625rem;
}

.btn.btn-success,
.btn.btn-secondary,
.btn.btn-warning,
.btn.btn-primary,
.btn.btn-danger,
.btn.btn-info {
  color: var(--primary-white) !important;
}

.btn-check:checked+.btn-danger,
.btn-check:active+.btn-danger,
.btn-danger:active,
.btn-danger.active,
.show>.btn-danger.dropdown-toggle {
  color: var(--primary-black);
  background-color: var(--bs-danger-light-orange);
  border-color: var(--bs-danger-dark-red);
}

.btn-xs {
  font-size: 0.75rem;
  padding: 0.438rem 1rem;
  font-weight: 600;
}

.btn-sm,
.btn-group-sm>.btn {
  // padding: 0.25rem 0.5rem;
  // font-size: 0.765625rem;
  // border-radius: 0.2rem;
  font-size: 0.813rem;
}

.font-size{
  font-size: 0.513rem;
}

.sharp.btn-xs {
  padding: 0.1875rem;
  width: 3.625rem;
  height: 1.7rem;
  min-width: 1.625rem;
  min-height: 1.625rem;
}

//for the pagination

.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 15px;
  /* Adjust the margin as needed */
}

.btn-rounded {
  border-radius: 2.5rem !important;
}

@media only screen and (max-width: 1400px) {
  .customer-search .input-group-text i {
    font-size: 1.2rem;
  }
}

.w-11 {
  width: 11em;
}


.input-group> :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
  margin-left: -1px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.btn-rounded {
  border-radius: 2.5rem !important;
}

@media only screen and (max-width: 1400px) {
  .customer-search .input-group-text i {
    font-size: 1.2rem;
  }
}

.w-11 {
  width: 11em;
}

.input-group {
  position: relative;
  z-index: 0;
}

.group-btn {
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border: 3px solid var(--primary-black);
  padding: 0.6em;
  height: 2.5rem;
  background: var(--primary-light-blue);
  color: var(--primary-white) !important;
}

.badge-success {
  background-color: var(--bs-success);
}

.badge-danger {
  background-color: var(--bs-red);
}


.badge {
  line-height: 1.5;
  border-radius: 1.03125rem;
  padding: 0.25rem 0.625rem;
  border: 0.0625rem solid transparent;
}

.badge {
  display: inline-block;
  padding: 0.35em 0.65em;
  font-size: 0.75em;
  font-weight: 700;
  line-height: 1.5;
  color: var(--primary-white);
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.75rem;
}

[data-typography="opensans"] {
  font-family: 'Inter', sans-serif;
}



@media only screen and (max-width: 1400px) {
  .btn {
    padding: 0.325rem 13px;
  }
}

@media only screen and (max-width: 575px) {
  .btn {
    border-radius: 0.375rem;
  }
}
@media only screen and (max-width: 1233px) {
  .btn {
    padding:  5px 12px;
  }
}

a {
  color: var(--primary-blue);
  text-decoration: none !important;
}

a:hover {
  color: var(--primary-blue);
  text-decoration: none;
}

.me-1 {
  margin-right: 0.25rem !important;
}

// pagination.scss

.pagination {
  display: flex;
  list-style: none;
  padding: 0;

  li {
    margin: 0 5px;

    a {
      display: block;
      padding: 2px 9px;
      text-decoration: none;
      color: var(--pagination-a) !important;
      border: 1px solid var(--primary-greyish) !important;
      cursor: pointer;
      border-radius: 50%;

      &:hover,
      &:focus,
      &:visited,
      &:active,
      &:link {
        background-color: var(--primary-light-blue);
        color: var(--primary-white) !important;
      }

    }
  }

  .disabled {
    a {
      cursor: not-allowed;
      color: var(--psthumb-y) !important;
      pointer-events: none;
    }
  }

  .active {
    background-color: var(--primary-light-blue);
    color: var(--primary-white) !important;
    border-radius: 50%;
    border: 1px solid var(--pagination-a) !important;

  }
}

.only-high {
  height: 3.5em;
  border-radius: 25px 0px 0px 25px !important;
}

.btn-outline-primary {
  color: var(--primary);
}

.can-toggle {
  position: relative;
}

.border-0 {
  border: 0 !important;
}

.border-0 {
  border-width: 0 !important;
}

a:hover,
a:focus,
a.active {
  text-decoration: none;
}

a:hover {
  color: var(--a-hover);
}

ul {
  padding: 0;
  margin: 0;
}

.justify-content-between {
  justify-content: space-between !important;
}
@media only screen and (max-width: 100rem) {
  :root {
    font-size: 0.875rem;
  }
}
@media only screen and (max-width: 1400px) {
  .cardnav{
    padding: 3px 15.7px 22PX 27PX !important;
  }
 
}
@media only screen and (min-width: 1400px) {
  .mt-7-supplier{
    margin-top: -7rem;
  }
}

.border-Radius{
  border-radius: 12px 0px 0px 12px;
}
.absoluteLoader{
  border-radius: 20px;


.upload{
  border-radius: 0px;
    border: 1px solid lightgrey;
    font-size: 12px;
    padding: 8px;
    cursor: pointer !important ;
    
}
cursor{
  cursor: pointer !important;
}

.border-Radius{
  border-radius: 12px 0px 0px 12px;
}}

.paginationDropdown{
  padding: 2px;
  border-radius: 1rem;
  margin-left: 1rem;
  margin-top: 2px;
  width: 7rem;
}

@media only screen and (max-width: 1305px) {
		.allocateBtn {
      padding-left: 6px !important;
      padding-right: 6px !important;	
	}
}
.isSpecial{
  background: var(--primary-alice-2);
  height: 44px;
  border-radius:   12px 12px 12px;
}