:focus-visible {
  outline: unset !important;
}

.flex-wrap {
  flex-wrap: wrap !important;
}

.border-danger {
  background: var(--primary-white);
  width: var(--w100);
  border: 3px solid var(--primary-red);
  padding: 0.3125rem 1.25rem;
  color: var(--bs-dark);
  height: 3rem;
  border-radius: 1rem;

  @media only screen and (max-width: 1400px) {
    height: 3rem !important;
  }
}

.text-danger {
  color: var(--primary-red) !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: var(--primary-black);
  font-family: 'Inter', sans-serif;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.938rem;
}

@media (min-width: 1200px) {
  h3,
  .h3 {
    font-size: 1.5rem;
  }
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 1.8;
}

.align-items-center {
  align-items: center !important;
}

.d-flex {
  display: flex !important;
}

label {
  margin-bottom: 0.5rem;
  font-size: 15px;
  color: var(--primary-black);
}

.customer-search {
  width: 22.5rem;
}

.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: var(--w100);
}

.input-group-text {
  display: flex;
  align-items: center;
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--primary-grey);
  text-align: center;
  white-space: nowrap;
  background-color: var(--primary-input-bg);
  border: 1px solid var(--primary-white-3);
  border-radius: 0.75rem;
}

.customer-search .search-area .input-group-text {
  background: var(--primary-white);
  border: 0.0625rem solid var(--primary-skin);
  border-top-right-radius: 3.125rem;
  border-bottom-right-radius: 3.125rem;
}

.customer-search .search-area .form-control {
  border: 0.0625rem solid var(--primary-skin);
  border-top-left-radius: 3.125rem;
  border-bottom-left-radius: 3.125rem;
  border-right: 0;
}

.customer-search .form-control {
  font-size: 1rem;
}

.input-group > .form-control,
.input-group > .form-select {
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  min-width: 0;
}

.btn-danger {
  color: var(--primary-black);
  background-color: var(--bs-danger);
  border-color: var(--bs-danger);
}

.btn-danger:hover {
  color: var(--primary-black);
  background-color: var(--bs-danger-red);
  border-color: var(--bs-danger-dark-red);
}

.sharp.btn-xs {
  padding: 0.1875rem;
  width: 3.625rem;
  height: 1.7rem;
  min-width: 1.625rem;
  min-height: 1.625rem;
}

.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Adjust the margin as needed */
}

.btn-rounded {
  border-radius: 2.5rem !important;
}

@media only screen and (max-width: 1400px) {
  .customer-search .input-group-text i {
    font-size: 1.2rem;
  }
}

.w-11 {
  width: 11em;
}

.input-group {
  position: relative;
  z-index: 2;
}

.group-btn {
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border: 3px solid var(--primary-black);
  padding: 0.6em;
  background: var(--primary-light-blue);
  color: var(--primary-white) !important;
}

.badge-success {
  background-color: var(--bs-success);
}

.badge {
  display: inline-block;
  padding: 0.35em 0.65em;
  font-size: 0.75em;
  font-weight: 700;
  line-height: 1.5;
  color: var(--primary-white);
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.75rem;
  border: 0.0625rem solid transparent;
}

[data-typography="opensans"] {
  font-family: 'Inter', sans-serif;
}

a {
  color: var(--primary-blue);
  text-decoration: none !important;
}

a:hover {
  color: var(--primary-blue);
  text-decoration: none;
}

body {
  overflow-x: hidden;
  height: var(--h100);
  position: relative;
  max-width: var(--w100);
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--primary-grey);
  background-color: var(--primary-white-2);
  -webkit-text-size-adjust: var(--w100);
  -webkit-tap-highlight-color: var(--rgba-primary-16);

  @media only screen and (max-width: 991px) {
    font-size: 0.875rem;
  }
}

@media only screen and (max-width: 100rem) {
  :root {
    font-size: 0.875rem;
  }
}

.justify-content-between {
  justify-content: space-between !important;
}

a:hover,
a:focus,
a.active {
  text-decoration: none;
}

a:hover {
  color: var(--a-hover);
}

ul {
  padding: 0;
  margin: 0;
}

.only-high {
  height: 3.5em;
}

//pagination
.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Adjust the margin as needed */
}

.pagination {
  display: flex;
  list-style: none;
  padding: 0;

  li {
    margin: 0 5px;

    a {
      display: block;
      padding: 2px 9px;
      text-decoration: none;
      color: var(--pagination-a) !important;
      border: 1px solid var(--primary-greyish) !important;
      cursor: pointer;
      border-radius: 50%;

      &:hover,
      &:focus,
      &:visited,
      &:active,
      &:link {
        background-color: var(--primary-light-blue);
        color: var(--primary-white) !important;
      }
    }
  }

  .active {
    background-color: var(--primary-light-blue);
    color: var(--primary-white) !important;
    border-radius: 50%;
    border: 1px solid var(--pagination-a) !important;
  }
}
