.container,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl,
.container-xxl {
  width: var( --w100);
  padding-right: var(--bs-gutter-x, 15px);
  padding-left: var(--bs-gutter-x, 15px);
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {

  .container,
  .container-sm {
    max-width: 540px;
  }
}
@media (min-width: 768px) {

  .container,
  .container-sm,
  .container-md {
    max-width: 720px;
  }
}
@media (min-width: 992px) {

  .container,
  .container-sm,
  .container-md,
  .container-lg {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {

  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 1140px;
  }
}
@media (min-width: 1440) {

  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl,
  .container-xxl {
    max-width: 1320px;
  }
}
body {
    overflow-x: hidden;
    height: var( --h100);
    position: relative;
    max-width: var( --w100);
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--primary-grey);
    background-color: var(--primary-white-2);
    -webkit-text-size-adjust: var(--w100);
    -webkit-tap-highlight-color: var(--rgba-primary-16);
  }
  body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--primary-grey);
    background-color: var(--primary-white-2);
    -webkit-text-size-adjust: var( --w100);
    // -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  @media only screen and (max-width: 991px) {
    body {
      font-size: 0.875rem;
    }
  }
  @media only screen and (max-width: 100rem) {
    :root {
      font-size: 0.875rem;
    }
  }

  .content-body .container-fluid,
  .content-body .container-sm,
  .content-body .container-md,
  .content-body .container-lg,
  .content-body .container-xl,
  .content-body .container-xxl {
    padding-top: 1.3rem;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
  }
  
  @media only screen and (max-width: 75rem) {
  
    .content-body .container-fluid,
    .content-body .container-sm,
    .content-body .container-md,
    .content-body .container-lg,
    .content-body .container-xl,
    .content-body .container-xxl {
      padding-top: 1.875rem;
      padding-right: 1.875rem;
      padding-left: 1.875rem;
    }
  }
  
  @media only screen and (max-width: 47.9375rem) {
  
    .content-body .container-fluid,
    .content-body .container-sm,
    .content-body .container-md,
    .content-body .container-lg,
    .content-body .container-xl,
    .content-body .container-xxl {
      padding-top: 1.25rem;
      padding-right: 1.25rem;
      padding-left: 1.25rem;
    }
  }
  
  @media only screen and (max-width: 35.9375rem) {
  
    .content-body .container-fluid,
    .content-body .container-sm,
    .content-body .container-md,
    .content-body .container-lg,
    .content-body .container-xl,
    .content-body .container-xxl {
      padding-top: 0.9375rem;
      padding-right: 0.9375rem;
      padding-left: 0.9375rem;
    }
  }
  [data-container="boxed"] .content-body .container-fluid,
[data-container="boxed"] .content-body .container-sm,
[data-container="boxed"] .content-body .container-md,
[data-container="boxed"] .content-body .container-lg,
[data-container="boxed"] .content-body .container-xl,
[data-container="boxed"] .content-body .container-xxl {
  padding: 2.5rem;
}


[data-container="wide-boxed"] .content-body .container-fluid,
[data-container="wide-boxed"] .content-body .container-sm,
[data-container="wide-boxed"] .content-body .container-md,
[data-container="wide-boxed"] .content-body .container-lg,
[data-container="wide-boxed"] .content-body .container-xl,
[data-container="wide-boxed"] .content-body .container-xxl {
  padding: 2.5rem;
}