$primary-white: var(--primary-white);
$primary-dark-blue: var(--primary-dark-blue);
$rgba-primary-17: var(--rgba-primary-17);

.form-check-label {
  margin-top: 1.5px;
  padding-left: 2px;
}

.form-check {
  display: block;
  min-height: 1.3125rem;
  padding-left: 1.7em;
  margin-bottom: 0.125rem;
  line-height: normal;

  .form-check-input {
    float: left;
    margin-left: -1.5em;
    margin-top: 1px;

  }
}

.form-check-input {
  width: 1em;
  height: 1em;
  margin-top: 0.25em;
  vertical-align: top;
  background-color: $primary-white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 1.9px solid $rgba-primary-17;
  appearance: none;

  &[type="checkbox"] {
    border-radius: 0.25em;
    padding: 7px;
    border-color: $primary-dark-blue;
  }

  &[type="radio"] {
    border-radius: 50%;
  }

  &:active {
    filter: brightness(90%);
  }

  &:focus {
    border-color: $primary-dark-blue;
    outline: 0;
  }

  &:checked {
    background-color: $primary-dark-blue;
    border-color: $primary-dark-blue;

    &[type="checkbox"] {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
    }

    &[type="radio"] {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
    }
  }
}
.form-select {
  display: block;
  width: var(--w100);
  padding: 0.375rem 0.25rem 0.375rem 0.75rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--primary-black);
  background-color:var(--primary-white);
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border: 3px solid var(--primary-greyish) !important;
  border-radius: 0.75rem;
  appearance: auto;
  font-size: 17px;
  &:focus {
  border-color: var(--bs-cream);
    outline: 0;
    box-shadow: 0 0 0 0.25rem var(--bs-dark-brown);
  }
}
.form-control:hover, .form-control:focus, .form-control.active {
  box-shadow: none;
  background: #fff !important;
  color: #6e6e6e;
}