.mb-1 {
	margin-bottom: 0.25rem !important;
}

.mb-2 {
	margin-bottom: 0.5rem !important;
}

.mb-3 {
	margin-bottom: 1rem !important;
}

.mb-4 {
	margin-bottom: 1.5rem;
}
.mb-5 {
	margin-bottom: 2rem;
}


.mt-2 {
	margin-top: 0.5rem !important;
}


.mt-3 {
	margin-top: 1rem !important;
}

.mt-2 {
	margin-top: 1.7rem !important;
}
.me-2 {
	margin-right: 0.5rem !important;
}

.me-3 {
	margin-right: 1rem !important;
}

.mr-10 {
  margin-right: 10px;
}

.mt-4 {
	margin-top: 1.5rem !important;
}

.ml-4 {
	margin-left: 10px !important;
}
.mr-2 {
	margin-right: 2px !important;
}
.ml-6 {
	margin-left: 15px !important;
}
.mrr {
	margin-right: 10px !important;
}
.m-auto {
    margin: auto;
}
.me-1 {
	margin-right: 0.25rem !important;
}
@media (min-width: 576px) {
	.mb-sm-0 {
		margin-bottom: 0 !important;
	}
}
