// content-body START

.content-body{
    min-height: 876px;
  }
  
  .content-body .container {
    margin-top: 2.5rem;
  }
  
  .content-body .container-fluid,
  .content-body .container-sm,
  .content-body .container-md,
  .content-body .container-lg,
  .content-body .container-xl,
  .content-body .container-xxl {
    padding-top: 2.5rem;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
  }
  
  @media only screen and (max-width: 75rem) {
  
    .content-body .container-fluid,
    .content-body .container-sm,
    .content-body .container-md,
    .content-body .container-lg,
    .content-body .container-xl,
    .content-body .container-xxl {
      padding-top: 1.875rem;
      padding-right: 1.875rem;
      padding-left: 1.875rem;
    }
  }
  
  @media only screen and (max-width: 47.9375rem) {
  
    .content-body .container-fluid,
    .content-body .container-sm,
    .content-body .container-md,
    .content-body .container-lg,
    .content-body .container-xl,
    .content-body .container-xxl {
      padding-top: 1.25rem;
      padding-right: 1.25rem;
      padding-left: 1.25rem;
    }
  }

  @media only screen and (max-width: 35.9375rem) {
  
    .content-body .container-fluid,
    .content-body .container-sm,
    .content-body .container-md,
    .content-body .container-lg,
    .content-body .container-xl,
    .content-body .container-xxl {
      padding-top: 0.9375rem;
      padding-right: 0.9375rem;
      padding-left: 0.9375rem;
    }
  }
  
  [data-header-position="fixed"] .content-body {
    padding-top: 7.5rem;
  }
  
  @media only screen and (max-width: 1400px) {
    [data-header-position="fixed"] .content-body {
      padding-top: 6.5rem;
    }
  }
  
  @media only screen and (max-width: 1199px) {
    [data-header-position="fixed"] .content-body {
      padding-top: 5rem;
    }
  }

  [direction="rtl"] .content-body {
    margin-right: 21.563rem;
    margin-left: auto;
  }
  
  [data-sidebar-style="modern"][direction="rtl"] .content-body {
    margin-right: 9.375rem;
  }
  
  [direction="rtl"] .content-body .page-titles {
    text-align: right;
  }

  [direction="rtl"][data-layout="horizontal"] .content-body {
    margin-right: 0;
  }
  [direction="rtl"][data-sidebar-style="mini"]:not([data-layout="horizontal"]) .content-body {
    margin-right: 6.25rem;
  }
  
  [direction="rtl"][data-sidebar-style="compact"]:not([data-layout="horizontal"]) .content-body {
    margin-right: 11.25rem;
  }
  
  [direction="rtl"][data-sidebar-style="overlay"] .content-body {
    margin-right: 0;
  }

  @media only screen and (max-width: 1350px) and (min-width: 1200px) {
    [direction="rtl"] .content-body {
      margin-right: 17rem;
    }
  }

  .content-body {
    margin-left: 20.563rem;
    z-index: 0;
    transition: all .2s ease;
  }
  
  @media only screen and (max-width: 1400px) {
    .content-body {
      margin-left: 17.2rem;
    }
  }

  [data-sidebar-style="full"][data-layout="vertical"] .menu-toggle .content-body {
    margin-left: 6.5rem;
  }
  
  [direction="rtl"][data-sidebar-style="full"][data-layout="vertical"] .menu-toggle .content-body {
    margin-right: 5.7rem;
    margin-left: auto;
    border: 0;
  }

  @media only screen and (min-width: 48rem) {
    [data-sidebar-style="mini"] .content-body {
      margin-left: 6.5rem;
    }
  
    [data-sidebar-style="mini"] .footer {
      padding-left: 6.5rem;
    }
  
    [data-sidebar-style="mini"][data-header-position="fixed"] .content-body {
      padding-top: 6.5rem;
    }
  }

  @media only screen and (min-width: 48rem) and (max-width: 63.9375rem) {
    [data-sidebar-style="mini"][data-header-position="fixed"] .content-body {
      padding-top: 5.5rem;
    }
  }
  [data-layout="horizontal"] .content-body {
    margin-left: 0;
  }


  .container,
  .container-fluid,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl,
  .container-xxl {
    width: 100%;
    padding-right: var(--bs-gutter-x, 15px);
    padding-left: var(--bs-gutter-x, 15px);
    margin-right: auto;
    margin-left: auto;
  }

  .navbar>.container,
  .navbar>.container-fluid,
  .navbar>.container-sm,
  .navbar>.container-md,
  .navbar>.container-lg,
  .navbar>.container-xl,
  .navbar>.container-xxl {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
  }


  [data-layout="horizontal"] .content-body .container-fluid,
  [data-layout="horizontal"] .content-body .container-sm,
  [data-layout="horizontal"] .content-body .container-md,
  [data-layout="horizontal"] .content-body .container-lg,
  [data-layout="horizontal"] .content-body .container-xl,
  [data-layout="horizontal"] .content-body .container-xxl {
    padding-top: 2.5rem;
  }

  [data-layout="horizontal"] .content-body .page-titles {
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-bottom: 1.875rem;
  }

  [data-header-position="fixed"][data-layout="horizontal"][data-sidebar-position="fixed"] .content-body {
    padding-top: 11.5rem;
  }

  [data-header-position="fixed"][data-layout="horizontal"][data-sidebar-position="fixed"][data-sidebar-style="modern"] .content-body {
    padding-top: 13.125rem;
  }

  [data-header-position="fixed"][data-layout="horizontal"][data-sidebar-position="fixed"][data-sidebar-style="compact"] .content-body {
    padding-top: 13.125rem;
  }

  [data-sidebar-style="compact"] .content-body {
    margin-left: 11.4rem;
  }
  [data-layout="horizontal"][data-sidebar-style="compact"] .content-body {
    margin-left: 0;
  }

  [data-sidebar-style="icon-hover"][data-layout="vertical"] .content-body {
    margin-left: 7rem;
  }

  [direction="rtl"][data-sidebar-style="icon-hover"][data-layout="vertical"] .content-body {
    margin-left: 0;
    margin-right: 7rem;
  }

  [data-sidebar-style="modern"] .content-body {
    margin-left: 10.9rem;
  }

  [data-sidebar-style="modern"][data-layout="vertical"] .menu-toggle .content-body {
    margin-left: 0;
  }

  [data-sidebar-style="modern"][data-layout="horizontal"] .footer,
    [data-sidebar-style="modern"][data-layout="horizontal"] .content-body {
      margin-left: 0;
    }
    [data-sidebar-style="overlay"] .content-body {
      margin-left: 0;
    }

    

  [data-container="wide-boxed"] .content-body .container-fluid,
  [data-container="wide-boxed"] .content-body .container-sm,
  [data-container="wide-boxed"] .content-body .container-md,
  [data-container="wide-boxed"] .content-body .container-lg,
  [data-container="wide-boxed"] .content-body .container-xl,
  [data-container="wide-boxed"] .content-body .container-xxl {
    padding: 2.5rem;
  }

  .read-content-body p {
    margin-bottom: 1.875rem;
  }

  [direction="rtl"] .content-body {
    margin-right: 21.563rem;
    margin-left: auto;
  }

  [data-sidebar-style="modern"][direction="rtl"] .content-body {
    margin-right: 9.375rem;
  }
  
  [direction="rtl"] .content-body .page-titles {
    text-align: right;
  }

  [direction="rtl"][data-layout="horizontal"] .content-body {
    margin-right: 0;
  }
  
  [direction="rtl"][data-sidebar-style="mini"]:not([data-layout="horizontal"]) .content-body {
    margin-right: 6.25rem;
  }
  
  [direction="rtl"][data-sidebar-style="compact"]:not([data-layout="horizontal"]) .content-body {
    margin-right: 11.25rem;
  }
  
  [direction="rtl"][data-sidebar-style="overlay"] .content-body {
    margin-right: 0;
  }

  @media only screen and (max-width: 1350px) and (min-width: 1200px) {
    [direction="rtl"] .content-body {
      margin-right: 17rem;
    }
  }

// content-body END

// container-fluid START

  .container,
  .container-fluid,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl,
  .container-xxl {
    width: 100%;
    padding-right: var(--bs-gutter-x, 15px);
    padding-left: var(--bs-gutter-x, 15px);
    margin-right: auto;
    margin-left: auto;
  }

  .navbar>.container,
  .navbar>.container-fluid,
  .navbar>.container-sm,
  .navbar>.container-md,
  .navbar>.container-lg,
  .navbar>.container-xl,
  .navbar>.container-xxl {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
  }

  [data-layout="horizontal"] .content-body .container-fluid,
    [data-layout="horizontal"] .content-body .container-sm,
    [data-layout="horizontal"] .content-body .container-md,
    [data-layout="horizontal"] .content-body .container-lg,
    [data-layout="horizontal"] .content-body .container-xl,
    [data-layout="horizontal"] .content-body .container-xxl {
      padding-top: 2.5rem;
    }

    [data-container="boxed"] .content-body .container-fluid,
  [data-container="boxed"] .content-body .container-sm,
  [data-container="boxed"] .content-body .container-md,
  [data-container="boxed"] .content-body .container-lg,
  [data-container="boxed"] .content-body .container-xl,
  [data-container="boxed"] .content-body .container-xxl {
    padding: 2.5rem;
  }

 // container-fluid END 

 // row START 

 .row {
  --bs-gutter-x: 30px;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) / -2);
  margin-left: calc(var(--bs-gutter-x) / -2);
}

.row>* {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) / 2);
  padding-left: calc(var(--bs-gutter-x) / 2);
  margin-top: var(--bs-gutter-y);
}

// row ends

// col-xl-6 starts 


@media (min-width: 1200px){

.col-xl-6 {
    flex: 0 0 auto;
    width: 50%;
}
}

// col-xl-6 ends

//  col-sm-6 starts 

@media (min-width: 576px) {
  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }
}

// col-sm-6 ends

// card starts 

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.75rem;
}


.card {
  margin-bottom: 1.875rem;
  background-color: #fff;
  transition: all .5s ease-in-out;
  position: relative;
  border: 0rem solid transparent;
  border-radius: 1.75rem;
  box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.1);
  height: calc(100% - 30px);
}
  
// card ends

// card-body starts

.card-body {
  flex: 1 1 auto;
  padding: 1rem 1rem;
}

.chatbox .card-body {
  padding: 1rem;
}

.card-body {
  padding: 0.875rem;
}

@media only screen and (max-width: 575px) {
  .card-body {
    padding: 1rem;
  }
}

.horizontal-card__menu .card-body {
  padding: 0;
  padding: 1.25rem 1.875rem;
}

.dez-widget-1 .card .card-body p {
  color: #f87533;
}
 
  
// card-body ends

// d-flex starts 

.d-flex {
  display: flex !important;
}
  
.align-items-center {
  align-items: center !important;
}

.justify-content-between {
  justify-content: space-between !important;
} 

//  

.menu span {
  font-family: 'Inter', sans-serif;
}

.font-w500 {
  font-weight: 500;
}

.fs-16 {
  font-size: 1rem !important;
  line-height: 1.6;
}
.mb-2 {
  margin-bottom: 0.5rem !important;
}
.d-block {
  display: block !important;
}

.position-relative {
  position: relative !important;
}
.d-inline-block {
  display: inline-block !important;
}

.donut-chart-sale small,
  .donut-chart-sale .small {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
    font-weight: 700;
  }

  // text-black starts 

  .donut-chart-sale small, .donut-chart-sale .small {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
    font-weight: 700;
}

[data-theme-version="dark"] .text-black {
  color: #fff !important;
}