$color_1: var(--primary-white);
$background-color_1: var(--bs-secondary-border);
$background-color_2: var(--btn-secondary-bg);
$border-color_1: var(--bs-secondary-active-border);
$border-color_2: var(--bs-secondary-border);
.btn-secondary {
	&:active {
		color: $color_1;
		background-color: $background-color_1;
		border-color: $border-color_1;
	}
	color: $color_1;
	background-color: $background-color_1;
	border-color: $border-color_1;
	&:hover {
		color: $color_1;
		background-color: $background-color_2;
		border-color: $border-color_2;
	}
}
.can-toggle {
	position: relative;
  }  
   .makescoll {
	display: block;
	max-height: 490px; /* Adjust based on your needs */
	overflow-y: auto;
	// border: 1px solid #ddd;
	border-radius: 4px;
  }
  
   .makescoll>thead {
	position: sticky;
	top: 0;
	background-color: #f9f9f9; /* Match with your table header background */
	z-index: 1; /* Ensure the header stays on top of the body */
  }
 
  
.paddingRight{
	padding-right: 100px !important;
}