$color_1: var(--primary-white);
$background-color_1: var(--bs-secondary-border);
$background-color_2: var(--btn-secondary-bg);
$border-color_1: var(--bs-secondary-active-border);
$border-color_2: var(--bs-secondary-border);
.btn-secondary {
	&:active {
		color: $color_1;
		background-color: $background-color_1;
		border-color: $border-color_1;
	}
	color: $color_1;
	background-color: $background-color_1;
	border-color: $border-color_1;
	&:hover {
		color: $color_1;
		background-color: $background-color_2;
		border-color: $border-color_2;
	}
}
.can-toggle {
	position: relative;
  }  
