$color_1: var(--primary-grey);
$background-color_1: var(--rgba-primary-23);

.form-file {
	.form-control { margin: 0;
	border-radius: 0;
	border: 0;
	height: auto;
}
}
	.form-file {
		border: 0.0625rem solid var(--bs-skin);
		background: var(--bs-white);
	}
	.input-group {
		>.form-select {
			position: relative;
			flex: 1 1 auto;
			width: 1%;
			margin-bottom: 0;
		}
	}
	 
		.form-control[type="file"] {
			overflow: hidden;
		}
	

.input-group {
	>.form-file { display: flex;
	align-items: center;
	>.form-file {
		position: relative;
		flex: 1 1 auto;
		width: 1%;
		margin-bottom: 0;
	}
}
}
.form-control[type="file"] {
	&:not(:disabled) {
		&:not([readonly]) {
			cursor: pointer;
		}
	}
}	
tr {
	border-bottom: 0.0625rem solid var(--primary-skin);
}
input[type=file] {
	&::file-selector-button {
		border: none;
		cursor: pointer;
		padding: 0.5rem 0.7rem;
		color: $color_1;
		&:hover {
			background-color: $background-color_1;
		}
	}
}
