
.form-file {
	.form-control {
		margin: 0;
		border-radius: 0;
		border: 0;
		height: auto;
	}
}

.form-file {
  border: 0.0625rem solid #f5f5f5;
  background: #fff;
}


.input-group {
	>.form-file {
		display: flex;
		align-items: center;
	}
}

.input-group > .form-select, .input-group > .form-file {
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;
}

.form-control[type="file"] {
	&:not(:disabled) {
		&:not([readonly]) {
			cursor: pointer;
		}
	}
}

.form-control[type="file"] {
  overflow: hidden;
}
tr{
  border-bottom: 0.0625rem solid var(--primary-skin);
}