.br {
  border: 1px solid var(--primary-skin-2);
}
.pt-2 {
  padding-top: 0.5rem !important;
}
.ml-4 {
  margin-left: 10px!important;
}
.badge-success {
    background-color: var(--bs-success);
}
.badge {
  line-height: 1.5;
  border-radius: 1.03125rem;
  padding: 0.25rem 0.625rem;
  border: 0.0625rem solid transparent;
}
.badge {
  display: inline-block;
  padding: 0.35em 0.65em;
  font-size: 0.75em;
  font-weight: 700;
  line-height: 1;
  color: var( --primary-white);;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.75rem;
}
.badge:empty {
  display: none;
}

.btn .badge {
  position: relative;
  top: -1px;
}