.top-top {
	border: 1px solid var(--primary-skin-2);
	padding: 10px;
	border-radius: 5px;
  }

  .br {
    border: 1px solid #ededed;
}


.justify-content-end {
    justify-content: flex-end !important;
}

.form-check-inline {
    display: inline-block;
    margin-right: 1rem;
}



