
.top-top {
	border: 1px solid var(--primary-skin-2);
	padding: 10px;
	border-radius: 5px;
}
.br {
	border: 1px solid var(--primary-skin-2);
	overflow-y: auto;
	max-height: 500px;
}
.form-check-inline {
	display: inline-block;
	margin-right: 1rem;
}
