$background-color_1: var( --bs-secondary);
.badge-secondary {
	background-color: $background-color_1;
}
.themeDetails{border-bottom: 1px solid var( --primary-skin-2);
}
.role_name_bold{
	font-weight: 500;
}