.ddop{
    width: 100px;
}
.comm {
    display: flex;
    justify-content: space-between;
  }
  
  .row {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  
  .col-sm-6 {
    flex: 1;
    padding: 0 15px;
  }
  
  .mt-7 {
    margin-top: 7px;
  }
  
  .form-select {
    width: 100%;
  }
  
  .dateInput {
    width: 100%;
  }
  