.mbm-10 {
  margin-bottom: 10px;
}  

.card-title {
  margin-bottom: 0.5rem !important;
}

.main {
    border-bottom: 2px solid #000000 !important;
    border-radius: 10px !important;
    margin-bottom: 10px !important;
}
.weak1 {
    background: #ededed;
    padding: 12px;
    padding-top: 20px;
    border-radius: 4px;
}
.theorder {
    border: 1px solid #ededed;
    margin-bottom: 5px;
    padding-bottom: 10px;
    padding: 20px;
    border-radius: 4px;
}
.weak {
    background: #ededed;
    padding: 12px;
    padding-top: 20px;
    border-radius: 4px;
}
.btn-xxs {
    padding: 0.375rem 0.9375rem;
    font-size: 0.6875rem;
    line-height: 1.3;
}

.card-body-1{
    padding-top: 0px !important;
}

