.form-file {
	.form-control {
	  margin: 0;
	  border-radius: 0;
	  border: 0;
	  height: auto;
	}
  }
  
  .form-file {
	border: 0.0625rem solid var(--bs-skin);
	background: var(--bs-white);
  }
  
  .input-group {
	> .form-file {
	  display: flex;
	  align-items: center;
	}
  }
  
  .input-group > .form-select,
  .input-group > .form-file {
	position: relative;
	flex: 1 1 auto;
	width: 1%;
	margin-bottom: 0;
  }
  
  .form-control[type="file"] {
	&:not(:disabled) {
	  &:not([readonly]) {
		cursor: pointer;
	  }
	}
  }
  
  .form-control[type="file"] {
	overflow: hidden;
  }
  
  tr {
	border-bottom: 0.0625rem solid var(--primary-skin);
  }
  
  input[type=file]::file-selector-button {
	border: none;
	cursor: pointer;
	padding: 0.5rem 0.7rem;
	color: var(--primary-grey);
  }
  
  input[type=file]::file-selector-button:hover {
	background-color: var(--rgba-primary-23);
  }
  
  .badge-success {
	background-color: var(--bs-success);
  }
  
  .badge {
	display: inline-block;
	padding: 0.25rem 0.625rem;
	font-size: 0.75em;
	font-weight: 700;
	line-height: 1.5;
	color: var(--bs-white);
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: 1.03125rem;
	border: 0.0625rem solid transparent;
  }
