@media only screen and (max-width: 1199px){
[data-header-position="fixed"] .content-body {
    padding-top: 5rem;
}
}
  .border-danger{
    border: 3px solid var(--primary-red) !important;
}

  .mb-4{
    margin-bottom: 1.5rem ;
  }

  .mb-10{
    margin-bottom: 10px;
  }
  