  .top-top {
    border: 1px solid #ededed;
    padding: 10px;
    border-radius: 5px;
  }

  .padd {
    background: #f8f8f8;
    padding: 10px;
    padding-left: 30px;
    border-radius: 10px;
    color: black;
  }

  