[data-theme-version="dark"] .customer-search .search-area .input-group-text {
    background: #212130;
    border-color: #2e2e42;
}

[data-theme-version="dark"] .customer-search .search-area .form-control {
    border-color: #2e2e42;
}

.customer-search {
    width: 22.5rem;
}

.customer-search .form-control {
    font-size: 1rem;
}

.customer-search .input-group-text i {
    font-size: 1.5rem;
    color: var(--primary);
}

@media only screen and (max-width: 1400px) {
    .customer-search .input-group-text i {
        font-size: 1.2rem;
    }
}

.customer-search .search-area .input-group-text {
    background: #fff;
    border: 0.0625rem solid #EEEEEE;
    border-top-right-radius: 3.125rem;
    border-bottom-right-radius: 3.125rem;
}

.customer-search .search-area .form-control {
    border: 0.0625rem solid #EEEEEE;
    border-top-left-radius: 3.125rem;
    border-bottom-left-radius: 3.125rem;
    border-right: 0;
}

[data-theme-version="dark"] .customer-search .search-area .input-group-text {
    background: #212130;
    border-color: #2e2e42;
}

[data-theme-version="dark"] .customer-search .search-area .form-control {
    border-color: #2e2e42;
}

.only-high {
    height: 3.5em !important;
}

.text-muted {
    color: #89879f !important;
  }