// loginForm.scss
@import "../../scss/color.scss";
// @import "../../scss//common.scss";

.authincation {
  background: var(--rgba-primary-1);
  display: flex;
  min-height: var(--vh10);
}  
.h-100{
  height: var(--percent100);
}


.container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl {
  width: var(--width);
  padding-right: var( --bs-gutter-x, var(--percent15));
  padding-left: var( --bs-gutter-x, var(--percent15));
  margin-right: auto;
  margin-left: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-yval) * -1) !important;
  margin-right: calc(var(--bs-gutter-xvl) / -2) !important;
  margin-left: calc(var(--bs-gutter-xval) / -2) !important;
}
.align-items-center {
    align-items: var(--center);
}

.justify-content-center {
    justify-content: var(--center);
}

  
//media Query
@media (min-width: 1200px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl {
      max-width: 1140px;
  }
}
@media (min-width: 768px) {
  .col-md-6 {
      flex: 0 0 auto;
     width: var(--percent50); 
  }
}