:root {
  --primary: #0072fd;
  ---primary-color: #f0f8ff;
  ---primary-White:#fff;
  --secondary: #624FD1;
  ---primar-red:#f72b50 ;
  --primary-hover: #fc410c;
  --primary-dark: #a02502;
  --rgba-primary-1: aliceblue;
  --rgba-primary-2: rgba(253, 104, 62, 0.2);
  --rgba-primary-3: rgba(253, 104, 62, 0.3);
  --rgba-primary-4: rgba(253, 104, 62, 0.4);
  --rgba-primary-5: rgba(253, 104, 62, 0.5);
  --rgba-primary-6: rgba(253, 104, 62, 0.6);
  --rgba-primary-7: rgba(253, 104, 62, 0.7);
  --rgba-primary-8: rgba(253, 104, 62, 0.8);
  --rgba-primary-9: rgba(253, 104, 62, 0.9);
  --font-family: 'Inter', sans-serif;
  --title: #000;
}
