:root {
  --primary: #0072fd;
  ---primary-color: #f0f8ff;
  ---primary-White:#fff;
  --secondary: #624FD1;
  ---primar-red:#f72b50 ;
  --primary-hover: #fc410c;
  --primary-dark: #a02502;
  --rgba-primary-1: aliceblue;
  --rgba-primary-2: rgba(253, 104, 62, 0.2);
  --rgba-primary-3: rgba(253, 104, 62, 0.3);
  --rgba-primary-4: rgba(253, 104, 62, 0.4);
  --rgba-primary-5: rgba(253, 104, 62, 0.5);
  --rgba-primary-6: rgba(253, 104, 62, 0.6);
  --rgba-primary-7: rgba(253, 104, 62, 0.7);
  --rgba-primary-8: rgba(253, 104, 62, 0.8);
  --rgba-primary-9: rgba(253, 104, 62, 0.9);
  --font-family: 'Inter', sans-serif;
  --title: #000;
  --rgba-primary-1: aliceblue;

//height width
  --height: 100%;
  --width: 100%;
  --center:center;

//gx  
    --bs-gutter-x: 0.25rem; 
    --bs-gutter-y: 0.25rem; 
    --bs-gutter-x: 0.5rem; 

   //gx val
    --bs-gutter-xval: 30px; 
    --bs-gutter-yval: 0; 


  //percentage
  --percent10:10%;
  --percent15:15%;
  --percent20:20%;
  --percent30:30%;
  --percent40:40%;
  --percent50:50%;
  --percent60:60%;
  --percent70:70%;
  --percent80:80%;
  --percent90:90%;
  --percent100:100%;
  


  //vh
  --vh100:100vh;
  

}