@media (min-width: 992px) {
    .col-lg {
      flex: 1 0 0%;
    }
  
    .row-cols-lg-auto>* {
      flex: 0 0 auto;
      width: auto;
    }
  
    .row-cols-lg-1>* {
      flex: 0 0 auto;
      width: 100%;
    }
  
    .row-cols-lg-2>* {
      flex: 0 0 auto;
      width: 50%;
    }
  
    .row-cols-lg-3>* {
      flex: 0 0 auto;
      width: 33.3333333333%;
    }
  
    .row-cols-lg-4>* {
      flex: 0 0 auto;
      width: 25%;
    }
  
    .row-cols-lg-5>* {
      flex: 0 0 auto;
      width: 20%;
    }
  
    .row-cols-lg-6>* {
      flex: 0 0 auto;
      width: 16.6666666667%;
    }
  
    .col-lg-auto {
      flex: 0 0 auto;
      width: auto;
    }
  
    .col-lg-1 {
      flex: 0 0 auto;
      width: 8.3333333333%;
    }
  
    .col-lg-2 {
      flex: 0 0 auto;
      width: 16.6666666667%;
    }
  
    
    .col-lg-5 {
      flex: 0 0 auto;
      width: 41.6666666667%;
    }
  
    .col-lg-6 {
      flex: 0 0 auto;
      width: 50%;
    }
  
    .col-lg-7 {
      flex: 0 0 auto;
      width: 58.3333333333%;
    }
  
    .col-lg-8 {
      flex: 0 0 auto;
      width: 66.6666666667%;
    }
  
    
  
    .col-lg-10 {
      flex: 0 0 auto;
      width: 83.3333333333%;
    }
  
    .col-lg-11 {
      flex: 0 0 auto;
      width: 91.6666666667%;
    }
  
    .col-lg-12 {
      flex: 0 0 auto;
      width: 100%;
    }
  
    .offset-lg-0 {
      margin-left: 0;
    }
  
    .offset-lg-1 {
      margin-left: 8.3333333333%;
    }
  
    .offset-lg-2 {
      margin-left: 16.6666666667%;
    }
  
    .offset-lg-3 {
      margin-left: 25%;
    }
  
    .offset-lg-4 {
      margin-left: 33.3333333333%;
    }
  
    .offset-lg-5 {
      margin-left: 41.6666666667%;
    }
  
    .offset-lg-6 {
      margin-left: 50%;
    }
  
    .offset-lg-7 {
      margin-left: 58.3333333333%;
    }
  
    .offset-lg-8 {
      margin-left: 66.6666666667%;
    }
  
    .offset-lg-9 {
      margin-left: 75%;
    }
  
    .offset-lg-10 {
      margin-left: 83.3333333333%;
    }
  
    .offset-lg-11 {
      margin-left: 91.6666666667%;
    }
  
    .g-lg-0,
    .gx-lg-0 {
      --bs-gutter-x: 0;
    }
  
    .g-lg-0,
    .gy-lg-0 {
      --bs-gutter-y: 0;
    }
  
    .g-lg-1,
    .gx-lg-1 {
      --bs-gutter-x: 0.25rem;
    }
  
    .g-lg-1,
    .gy-lg-1 {
      --bs-gutter-y: 0.25rem;
    }
  
    .g-lg-2,
    .gx-lg-2 {
      --bs-gutter-x: 0.5rem;
    }
  
    .g-lg-2,
    .gy-lg-2 {
      --bs-gutter-y: 0.5rem;
    }
  
    .g-lg-3,
    .gx-lg-3 {
      --bs-gutter-x: 1rem;
    }
  
    .g-lg-3,
    .gy-lg-3 {
      --bs-gutter-y: 1rem;
    }
  
    .g-lg-4,
    .gx-lg-4 {
      --bs-gutter-x: 1.5rem;
    }
  
    .g-lg-4,
    .gy-lg-4 {
      --bs-gutter-y: 1.5rem;
    }
  
    .g-lg-5,
    .gx-lg-5 {
      --bs-gutter-x: 3rem;
    }
  
    .g-lg-5,
    .gy-lg-5 {
      --bs-gutter-y: 3rem;
    }
  }

@media (min-width: 1200px) {
    .col-xl-12 {
      flex: 0 0 auto;
      width: 100%;
    }
  }