
.form-check-label {
    margin-top: 0.1875rem;
  }
  
  .form-check {
    display: block;
    min-height: 1.3125rem;
    padding-left: 1.5em;
    margin-bottom: 0.125rem;
    line-height: normal;
  }
  
  .form-check .form-check-input {
    float: left;
    margin-left: -1.5em;
  }
  
  .form-check-input {
    width: 1em;
    height: 1em;
    margin-top: 0.25em;
    vertical-align: top;
    background-color: var(--primary-white);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 1px solid var(--rgba-primary-17);
    appearance: none;
    color-adjust: exact;
  }
  
  .form-check-input[type="checkbox"] {
    border-radius: 0.25em;
    padding: 7px;
    border-color: var(--primary-dark-blue)
  }
  
  .form-check-input[type="radio"] {
    border-radius: 50%;
  }
  
  .form-check-input:active {
    filter: brightness(90%);
  }
  
  .form-check-input:focus {
    border-color: var(--primary-dark-blue);
    outline: 0;
  }
  
  .form-check-input:checked {
    background-color: var(--primary-dark-blue);
    border-color: var(--primary-dark-blue);
  }

  .form-check-input:checked[type="checkbox"] {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
  }
  
  .form-check-input:checked[type="radio"] {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
  }
  