@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap'); 
@import './Components/Button';
@import './Components/PageError500';
@import './Components/Footer';
@import './Components/Header';
@import './Components/HomePage';
@import './Components/InputField';
@import './Components/Layout';
@import './Components/Loader';
@import './Components/NoRecord';
@import './Components/Sidebar';
@import './Pages/BrandCatalogue';
@import './Pages/BrandDetail';
@import './Pages/ClientMaster';
@import './Pages/Dashboard';
@import './Pages/LoginPage';
@import './Pages/RoleMaster';
@import './Pages/UserMaster';
@import './Pages/ClientAdmin/AbandonedCartReport';
@import './Pages/SupplierProductList';
@import './Pages/ClientAdmin/CustomerList';
@import './Pages/ClientAdmin/OfferMaster';
@import './Pages/ClientAdmin/EmailEventMaster';
@import './Pages/ClientAdmin/FailedOrders';
@import './Pages/ClientAdmin/AbandonedCartReport';
@import './Utility/Card';
@import './Utility/Rows';
@import './Utility/Column';
@import './Utility/Common';
@import './Utility/Container';
@import './Utility/Form';
@import './Utility/Margin';
@import './Utility/Padding';
@import './Utility/Table';
:root {
  --primary-green:#55bc49;
  --primary-green-2:#5fc054;
  --primary-green-3:#47a43d;
  --primary-green-4:#4fb743;
  --primary: #0072fd;
  --secondary: #624FD1;
  --bs-white: #fff;
  --primary-hover: #fc410c;
  --primary-red: red;
  --primary-red-2: #d1002b;
  --primary-red-3: #b70026;
  --primary-red-4: #ea0030;
  --primary-white: #fff;
  --primary-greyish: #616161;
  --primary-grey-row: #f2f4fa;
  --primary-white-2: #fbfbfb;
  --primary-black: #000;
  --primary-skin-2: #ededed;
  --primary-dark-skin: #e6cbc2;
  --primary-dark-alice: #ffe1d8;
  --primary-light-alice: #ecd0c8;
  --primary-dark-alice-2: #f2d6cd;
  --primary-light-blue: #1947e1;
  --primary-skin: #EEEEEE;
  --primary-blue: #0074fc;
  --primary-dark: #a02502;
  --primary-black-2: #212130;
  --primary-dark-blue: #0049e0;
  --primary-grey: #969ba0;
  --primary-grey-row: #f2f4fa;
  --primary-input-bg: #e9ecef;
  --primary-alice: aliceblue;
  --primary-alice-2: #f8f8f8;
  --rgba-primary-1: rgba(253, 104, 62, 0.1);
  --rgba-primary-2: rgba(253, 104, 62, 0.2);
  --rgba-primary-3: rgba(253, 104, 62, 0.3);
  --rgba-primary-4: rgba(253, 104, 62, 0.4);
  --rgba-primary-5: rgba(253, 104, 62, 0.5);
  --rgba-primary-6: rgba(253, 104, 62, 0.6);
  --rgba-primary-7: rgba(253, 104, 62, 0.7);
  --rgba-primary-8: rgba(253, 104, 62, 0.8);
  --rgba-primary-9: rgba(253, 104, 62, 0.9);
  --rgba-primary-10: rgba(0, 0, 0, 0.15);
  --rgba-primary-11: rgba(154, 161, 171, 0.15);
  --rgba-primary-12: rgba(255, 255, 255, 0.5);
  --rgba-primary-13: rgba(255, 255, 255, 0.6);
  --rgba-primary-14: rgba(0, 0, 0, 0.08);
  --rgba-primary-15: rgba(154, 161, 171, 0.15);
  --rgba-primary-16: rgba(0, 0, 0, 0);
  --rgba-primary-17: rgba(0, 0, 0, 0.25);
  --rgba-primary-18: rgba(0, 0, 0, 0.05);
  --rgba-primary-19: rgba(0, 0, 0, 0.1);
  --rgba-primary-20: rgba(0, 0, 0, 0.075);
  --rgba-primary-21: rgba(0, 0, 0, 0.125);
  --rgba-primary-22: rgba(0, 0, 0, 0.03);
  --rgba-primary-23: rgba(255, 255, 255, 0.3);
  --font-family: 'Inter', sans-serif;
  --title: #000;
  --header-bg: #E9E9E9;
  --navlink: #464a53;
  --deznav-menu: #9fa4a6;
  --deznav-header-bg: #2e2e42;
  --anchor: #969ba0;
  --deznav-li: #7f7184;
  --psthumb-x: #aaa;
  --psthumb-y: #DAE2F3;
  --primary-dark-blue: #0049e0;
  --headerbg: #fff;
  --bs-table-bg: #f0e8f6;
  --bs-table-striped-bg: #e4dcea;
  --bs-table-active-bg: #d8d1dd;
  --bs-table-dark-bg: #7d7d7d;
  --bs-table-dark-bg-2: #6e6e6e;
  --bs-table-striped-bg-2: #757575;
  --bs-table-hover-bg: #797979;
  border-color: #cbe0ca;
  --bs-table-bg: #e1f9e0;
  --bs-table-secondary-bg: #e1f9e0;
  --bs-bg: #cac6dd;
  --bs-table-striped-bg-3: #d5d1ea;
  --bs-table-secondary-hover-bg: #cfcce4;
  --bs-table-striped-bg-4: #d6edd5;
  --bs-table-hover-bg-1: #d0e6cf;
  --bs-table-info-hover-bg: #ded7e4;
  --bs-table-warning-bg: #ffedd2;
  --bs-table-striped-bg-5: #f2e1c8;
  --bs-table-active-bg-1: #e6d5bd;
  --bs-table-active-bg-2: #ecdbc2;
  --bs-danger-table-bg: #fdd5dc;
  --bs-danger-striped-bg: #f0cad1;
  --bs-danger-active-bg: #e4c0c6;
  --bs-danger-hover-bg: #eac5cc;
  --bs-light-striped-bg: #bebebe;
  --bs-light-active-bg: #b4b4b4;
  --bs-light-hover-bg: #b9b9b9;
  --bs-light-bg: #dde0e3;
  --btn-secondary-bg: #5343b2;
  --bs-secondary-border: #4e3fa7;
  --bs-secondary-active-border: #4a3b9d;
  --dez-widget-color: #f87533;
  --nav-tab-bottom-color: #dee2e6;
  --a-hover: #ca5332;
  --bs-blue: #5e72e4;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #e83e8c;
  --bs-red: #EE3232;
  --bs-redyish: #ff0438;
  --bs-primary-red: #ea0030;
  --bs-orange: #ff9900;
  --bs-yellow: #FFFA6F;
  --bs-green: #297F00;
  --bs-mid-green: #70c767;
  --bs-teal: #20c997;
  --bs-cyan: #3065D0;
  --bs-cream: #feb49f;
  --bs-gray: #6c757d;
  --bs-skin: #f5f5f5;
  --bs-gray-dark: #343a40;
  --bs-orange: #ffb23f;
  --bs-primary-orange: #ffad34;
  --bs-primary: #FD683E;
  --bs-secondary: #624FD1;
  --bs-success: #68e365;
  --bs-info: #b48dd3;
  --bs-warning: #FFA41D;
  --bs-danger: #f72b50;
  --bs-danger-red: #f84b6a;
  --bs-danger-dark-red: #f84062;
  --bs-danger-light-orange: #f95573;
  --bs-dark-brown: #fd683e40;
  --bs-light: #c8c8c8;
  --bs-dark: #6e6e6e;
  /* width */
  --vh100: 100vh;
  --w100: 100%;
  --h100: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}