.table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  
  @media (max-width: 575.98px) {
    .table-responsive-sm {
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
    }
  }
  
  @media (max-width: 767.98px) {
    .table-responsive-md {
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
    }
  }
  
  @media (max-width: 991.98px) {
    .table-responsive-lg {
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
    }
  }
  
  @media (max-width: 1199.98px) {
    .table-responsive-xl {
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
    }
  }
  
  @media (max-width: 1439.98) {
    .table-responsive-xxl {
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
    }
  }
  table {
    caption-side: bottom;
    border-collapse: collapse;
  }
  .table {
    --bs-table-bg: transparent;
    --bs-table-striped-color: var( --primary-grey);
    --bs-table-striped-bg: var(--rgba-primary-18);
    --bs-table-active-color: var( --primary-grey);
    --bs-table-active-bg: var(--rgba-primary-19);
    --bs-table-hover-color: var( --primary-grey);
    --bs-table-hover-bg: var( --rgba-primary-20);
    width: var(--w100);
    margin-bottom: 1rem;
    color: var( --primary-grey);
    vertical-align: top;
    border-color: var(--primary-skin);
  }

  
.table-responsive-sm {
    min-width: 30rem !important;
  }

  .table thead th {
    border-bottom: 0.0625rem solid var(--primary-skin);
    text-transform: capitalize;
    font-size: 1.125rem;
    white-space: nowrap;
    font-weight: 500;
    letter-spacing: 0.0313rem;
    border-color: var(  --bs-skin) !important;
  }

  th {
    text-align: inherit;
    text-align: -webkit-match-parent;
  }
  .table td {
    border-color: var(--bs-skin);
    padding: 0.9375rem 0.625rem;
}
.table tbody tr td {
    vertical-align: middle;
    border-color: var(  --bs-skin);
}
  thead,
  tbody,
  tfoot,
  tr,
  td,
  th {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
  }
  
.table {
    width: var(--w100) !important;
  }
  

  //check again


  .table> :not(caption)>*>* {
    padding: 0.5rem 0.5rem;
    background-color: var(--bs-table-bg);
    border-bottom-width: 1px;
    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
  }
  
  .table>tbody {
    vertical-align: inherit;
  }
  
  .table>thead {
    vertical-align: bottom;
  }

  .caption-top {
    caption-side: top;
  }
  
  .table-sm> :not(caption)>*>* {
    padding: 0.25rem 0.25rem;
  }
  
  .table-bordered> :not(caption)>* {
    border-width: 1px 0;
  }
  
  .table-bordered> :not(caption)>*>* {
    border-width: 0 1px;
  }
  
  .table-borderless> :not(caption)>*>* {
    border-bottom-width: 0;
  }
  
  .table-striped>tbody>tr:nth-of-type(odd) {
    --bs-table-accent-bg: var(--bs-table-striped-bg);
    color: var(--bs-table-striped-color);
  }
  
  .table-active {
    --bs-table-accent-bg: var(--bs-table-active-bg);
    color: var(--bs-table-active-color);
  }
  
  .table-hover>tbody>tr:hover {
    --bs-table-accent-bg: var(--bs-table-hover-bg);
    color: var(--bs-table-hover-color);
  }
  
  .table-primary {
    --bs-table-bg: var(--primary-dark-alice);
    --bs-table-striped-bg: var(--primary-dark-alice-2);
    --bs-table-striped-color: var(--primary-black);
    --bs-table-active-bg: var(--primary-dark-skin);
    --bs-table-active-color: var(--primary-black);
    --bs-table-hover-bg: var(--primary-light-alice);
    --bs-table-hover-color: var(--primary-black);
    color: var(--primary-black);
    border-color: var(--primary-dark-skin);
  }
  
  
  .table-secondary {
    --bs-table-bg: #e0dcf6;
    --bs-table-striped-bg: #d5d1ea;
    --bs-table-striped-color: var(--primary-black);
    --bs-table-active-bg: var( --bs-bg);
    --bs-table-active-color: var(--primary-black);
    --bs-table-hover-bg: #cfcce4;
    --bs-table-hover-color: var(--primary-black);
    color: var(--primary-black);
    border-color: var( --bs-bg);
  }
  
  .table-success {
    --bs-table-bg: var(--bs-table-bg);
    --bs-table-striped-bg: #d6edd5;
    --bs-table-striped-color: var(--primary-black);
    --bs-table-active-bg: var(  border-color);
    --bs-table-active-color: var(--primary-black);
    --bs-table-hover-bg: #d0e6cf;
    --bs-table-hover-color: var(--primary-black);
    color: var(--primary-black);
    border-color: var(  border-color);
  }
  
  .table-info {
    --bs-table-bg: var(--bs-table-bg);
    --bs-table-striped-bg: var( --bs-table-striped-bg);
    --bs-table-striped-color: var(--primary-black);
    --bs-table-active-bg: var( --bs-table-active-bg);
    --bs-table-active-color: var(--primary-black);
    --bs-table-hover-bg: #ded7e4;
    --bs-table-hover-color: var(--primary-black);
    color: var(--primary-black);
    border-color: var( --bs-table-active-bg);
  }
  
  .table-warning {
    --bs-table-bg: #ffedd2;
    --bs-table-striped-bg: #f2e1c8;
    --bs-table-striped-color: var(--primary-black);
    --bs-table-active-bg: #e6d5bd;
    --bs-table-active-color: var(--primary-black);
    --bs-table-hover-bg: #ecdbc2;
    --bs-table-hover-color: var(--primary-black);
    color: var(--primary-black);
    border-color: #e6d5bd;
  }
  
  .table-danger {
    --bs-table-bg: #fdd5dc;
    --bs-table-striped-bg: #f0cad1;
    --bs-table-striped-color: var(--primary-black);
    --bs-table-active-bg: #e4c0c6;
    --bs-table-active-color: var(--primary-black);
    --bs-table-hover-bg: #eac5cc;
    --bs-table-hover-color: var(--primary-black);
    color: var(--primary-black);
    border-color: #e4c0c6;
  }
  
  .table-light {
    --bs-table-bg: #c8c8c8;
    --bs-table-striped-bg: #bebebe;
    --bs-table-striped-color: var(--primary-black);
    --bs-table-active-bg: #b4b4b4;
    --bs-table-active-color: var(--primary-black);
    --bs-table-hover-bg: #b9b9b9;
    --bs-table-hover-color: var(--primary-black);
    color: var(--primary-black);
    border-color: #b4b4b4;
  }
  
  .table-dark {
    --bs-table-bg: #6e6e6e;
    --bs-table-striped-bg: #757575;
    --bs-table-striped-color: var(--primary-white);
    --bs-table-active-bg: #7d7d7d;
    --bs-table-active-color: var(--primary-black);
    --bs-table-hover-bg: #797979;
    --bs-table-hover-color: var(--primary-black);
    color: var(--primary-white);
    border-color: #7d7d7d;
  }
  .table th,
  .table td {
    border-color: var(  --bs-skin);
    padding: 0.9375rem 0.625rem;
  }
   
  .table tbody tr td {
    vertical-align: middle;
    border-color: var(  --bs-skin);
}
.table th, .table td {
  border-color: var(  --bs-skin);
  padding: 0.9375rem 0.625rem;
}
.table > :not(caption) > * > * {
  padding: 0.5rem 0.5rem;
  background-color: var(--bs-table-bg);
  border-bottom-width: 1px;
  box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}
thead, tbody, tfoot, tr, td, th {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}
* {
  outline: none;
  padding: 0;
}
