.content-body .container-fluid, .content-body .container-sm, .content-body .container-md, .content-body .container-lg, .content-body .container-xl, .content-body .container-xxl {
    padding-top: 1.3rem;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
}