.show {
  display: block;
}

.modal-dialog {
  max-width: 600px !important;
  margin: 1.75rem auto;
}

.loginmodalsize {
  max-width: 500px;
}

.rounded-3 {
  border-radius: 0.3rem;
}

.modal-content {
  border-radius: 0 !important;
}

.loginpop {
  position: relative;
  /* padding: 30px; */
}


button.close.modalclosebtn {
  outline: 0;
  background: #000;
  width: 30px;
  position: absolute;
  right: -15px;
  top: -15px;
  opacity: 1;
  text-shadow: 0 0 0;
  line-height: 1;
  color: #fff;
  border-radius: 50%;
  padding: 3px 0;
  height: 32px;
  font-size: 17px;
}

.login-form2 {
  height: 230px;
}

.marginrow {
  margin: -5px;
}

.new-h2 {
  height: 230px;
  object-fit: cover;
}

.input-main {
  padding: 5px;
}

h5 {
  font-size: 1.25rem !important;
  font-family: 'Inter', sans-serif !important;
  font-weight: 400 !important;
}

.floating-box {
  position: relative;
}

.lis input[type="text"], input[type="text"], input[type="email"], input[type='password'], input[type="tel"] {
  border: 1px solid #dbdbdb;
  border-radius: 2px;
  color: #333;
  height: 42px;
  padding: 0 0 0 20px;
  width: 100%;
  outline: 0;
}

.floating-input {
  outline: 0;
  font-size: 14px;
  padding: 5px 10px;
  display: block;
  width: 100%;
  height: 45px;
  background-color: transparent;
  border: 1px solid #ddd;
}

.floating-box input[type=button], .floating-box input[type=submit] {
  cursor: pointer;
  background: #3b71fe;
  border: none;
  color: #fff;
  padding: 10px 20px;
  font-size: 14px;
  outline: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 5px;
}

#signupmodal {
  overflow-y: auto !important;
}

.login-form h3 {
  font-size: 18px;
  margin: 0 0 10px;
  color: #000;
  font-weight: 600;
  margin-bottom: 18px;
}
.showpassbtn {
  position: absolute;
  right: 0;
  top: 0;
}

.showpassbtn i {
  padding: 14px 8px;
  cursor: pointer;
}

.new-h {
  height: 580px;
  object-fit: cover;
}

.radiobtnlist table {
  width: 100%;
}

.radiobtnlist input {
  display: none;
}

.signupgender label {
  line-height: 1.3;
}

.radiobtnlist label {
  cursor: pointer;
  display: inline-block;
  margin: 0;
  position: relative;
  padding-left: 25px;
  vertical-align: middle;
}

.radiobtnlist label:before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 3px;
  width: 10px;
  opacity: 0;
  height: 10px;
  z-index: 1;
  background: #000;
  top: 4px;
  border-radius: 50%;
  transition: all .3s;
  transform: scale(0);
  visibility: hidden;
}

.radiobtnlist label:after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  width: 16px;
  top: 1px;
  height: 16px;
  border: 1px solid #000;
  border-radius: 50%;
}

.paymentopradio .radiobtnlist label:after {
  left: 15px;
  top: 19px
}

.paymentopradio .radiobtnlist label:before {
  left: 16px;
  top: 20px;
  border: 5px solid #000;
  background: #fff;
  width: 14px;
  height: 14px
}

.paymentopradio .radiobtnlist label {
  display: block;
  padding: 14px 20px;
  font-size: 17px;
  border-radius: 5px;
  padding-left: 40px
}

.radiobtnlist input:checked+label:before {
  opacity: 1;
  transition: all .3s;
  transform: scale(1);
  visibility: visible
}

.paymentopradio .radiobtnlist {
  margin-bottom: 10px
}

.signupbox {
  padding: 0 30px;
  text-align: center;
  margin: 10px 0;
}

.signupboxinner {
  overflow: hidden;
}

.signupboxinner p {
  position: relative
}

.signupboxinner p:before {
  content: "";
  display: block;
  height: 1px;
  width: 99999px;
  position: absolute;
  right: 57%;
  background: #ddd;
  top: 13px
}

.signupboxinner p:after {
  content: "";
  display: block;
  height: 1px;
  width: 99999px;
  position: absolute;
  left: 57%;
  background: #ddd;
  top: 13px
}

.login-form h5 {
  font-size: 15px;
  font-weight: 400;
  margin: 0 0 15px;
  color: #6b6b6b;
}


